*{
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #000000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 700px;
    height: 700px;
}
.card{
    justify-content: center;
    background-color:#2E2E2E ;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    border-color:#909090;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px #909090;
}
.cara{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    
}
.image{
    width: 20px;
    height: 20px;
}
button{
    width: 100px;
}
a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
#par{
    margin: 10px 10px;
}
button{
    font-size: 20px;
    width: 250px;
    margin: 30px 30px;
    background-color: rgb(114, 221, 114);
    border-radius: 5px;
    border: none;
}
button:active{
    background-color: #3e9e43;
}
#especial{
    margin: 20px 20px;
}
h2{
    margin: 20px 20px;
}
